<!--
=======================================================
  Title: EMS milestone 1 and 2
  Author: Chris Harris
  Date: 25 April 2021
  Description: milestone 1 and 2 for EMS
========================================================
-->
<footer class="bg-success" style="position: absolute; bottom: 0; width: 100%; height: 1.5rem;">
    <p>Chris Harris 2021</p>
</footer>