<!--
=======================================================
  Title: EMS milestone 1 and 2
  Author: Chris Harris
  Date: 25 April 2021
  Description: milestone 1 and 2 for EMS
========================================================
-->
<!DOCTYPE html>
<html lang="en">
    <%- include('header'); -%>

    <body class="bg-dark">
    <%- include('navbar'); -%>

    <div class="container">
        <div class="mx-auto text-white"></div>
            <main role="main" class="mx-auto">
                <h1 class="text-white mx-auto" style="margin-top: 3rem; text-align: center;">Homepage</h1>
                <p class=" text-white"  style="text-align: center;">This is where the paragraph about what goes on in the homepage with other links to the various things in the 
                boxes below</p>
                
            </main>
    </div>
    
    
    <div class="container">
        <div class="row">

            <!--boxes that contain information-->
            <div class="col-sm align-self-start">
                <div class="card">
                    <div class="card-body bg-success text-black">
                        <h1 class="card-title" style="text-align: center;">First Box</h1>
                            <p class="card-text">this should be the first box</p>
                            <a href="#" class="btn btn-dark stretched-link">Click ME!!!</a>
                    </div>
                </div>
            </div>
        <!--boxes that contain information-->
            <div class="col-sm align-self-center">
                <div class="card">
                    <div class="card-body bg-success text-black">
                        <h1 class="card-title" style="text-align: center;">Second Box</h1>
                            <p class="card-text">this should be the second box</p>
                            <a href="#" class="btn btn-dark stretched-link">Totally not a virus</a>
                    </div>
                </div>
            </div>
        <!--boxes that contain information-->
            <div class="col-sm align-self-end">
                <div class="card" >
                    <div class="card-body bg-success text-black">
                        <h1 class="card-title" style="text-align: center;">Third Box</h1>
                            <p class="card-text">this should be the third box</p>
                            <a href="#" class="btn btn-dark stretched-link">Oops!</a>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    
        <%- include('footer'); -%>
    </body>
    </html>
    