<!--
=======================================================
  Title: EMS milestone 1 and 2
  Author: Chris Harris
  Date: 25 April 2021
  Description: milestone 1 and 2 for EMS
========================================================
-->
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home</a>
        <a class="nav-item nav-link" href="#">About</a>
        <a class="nav-item nav-link" href="#">Who</a>
        <a class="nav-item nav-link" href="#">What</a>
        <a class="nav-item nav-link" href="#">When</a>
      </div>
    </div>
  </nav>