<!--
=======================================================
  Title: EMS milestone 1 and 2
  Author: Chris Harris
  Date: 25 April 2021
  Description: milestone 1 and 2 for EMS
========================================================
-->

<div role='main' class="container">
  <br/><br/>

  <h2><% message %></h2>
  <form method="post" action="/process">
    <div class="form-group">
      <input type='text' name='txtName'></input>
    </div>
    <div class="form-group">
      <input name='csrf' value="<%= csrfToken %>" type='hidden'></input>
    </div>
  </form>

</div>