<!--
=======================================================
  Title: footer.ejs
  Author: Chris Harris
  Date: 4 April 2020
  Description: this is the footer
========================================================
-->
<!--ensure that the page is closed properly-->

</body>
</html>