
<!--
=======================================================
  Title: index.ejs
  Author: Chris Harris
  Date: 4 April 2020
  Description: This is the index page
========================================================
-->
<!--ensure that the header in included-->
<%- include ('header'); -%>
<!--div that will display the desired message-->
<div role="main" class="container">
    <br/><br/>
    <h2>Welcome to the <%= message %>!</h2>
</div>
<!--ensure that the footer in included-->
<%- include ('footer'); -%>